@model App.ViewModels.RaceListViewModel

@{
    ViewData["Title"] = "Mes courses";
    ViewBag.Toto = "lol";
    
}

<h1>@Model.HeaderTitle</h1>

<p>
    <a asp-action="Create">Create @ViewBag.Toto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Race Name
            </th>
            <th>
                Date
            </th>
            <th>
                EventBeginning
            </th>
            <th>
                Latitude
            </th>
            <th>
                Longitude
            </th>
            <th>
                MaxParticipant
            </th>
            <th>
                Picture
            </th>
            <th>
                RestrictedAge
            </th>
            <th>
                Result
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RaceList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.EventDate.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventBeginning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxParticipant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestrictedAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
